{% extends "base.html" %}
{% load static %}

{% block content1 %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
            <div class="frame">
                <img src="{% static 'images/full.jpg' %}" alt="image" class="img-fluid">
            </div>
        </div>

        <div class="col-lg-7 text-left text-light">
            <h2>Namaste,</h2>
            <p class="fs-5">I am a dedicated python developer and CSIT student from Nepal with deep interest in Data Science, Machine Learning, Deep Learning and Web Development.</p>
            <p class="fs-5">I have completed several projects in these domains, which have significantly boosted my expertise and potential. I am excitedly looking forward to continuing my professional journey, sharpening my skills, potential, and expertise to tackle modern problems.</p>
        </div>
    </div>

    <div class="row my-5">
        <h2 class="text-center w-100" style="color:#4fffb0;">My tech stacks</h2>
        <div class="d-flex flex-wrap justify-content-center align-items-center">
            <div class="p-2">
                <img src="{% static 'images/python.png' %}" alt="Python" width="70" height="70" class="img-fluid" title="Python">
            </div>
            <div class="p-2">
                <img src="{% static 'images/NumPy.png' %}" alt="Numpy" width="70" height="70" class="img-fluid" title="Numpy">
            </div>
            <div class="p-2">
                <img src="{% static 'images/Pandas.png' %}" alt="Pandas" width="70" height="70" class="img-fluid" title="Pandas">
            </div>
            <div class="p-2">
                <img src="{% static 'images/Matplotlib.png' %}" alt="Matplotlib" width="70" height="70" class="img-fluid" title="Matplotlib">
            </div>
            <div class="p-2">
                <img src="{% static 'images/Django.png' %}" alt="Django" width="70" height="70" class="img-fluid" title="Django">
            </div>
            <div class="p-2">
                <img src="{% static 'images/OpenCV.png' %}" alt="OpenCV" width="70" height="70" class="img-fluid" title="OpenCV">
            </div>
            <div class="p-2">
                <img src="{% static 'images/tenserflow.png' %}" alt="TensorFlow" width="70" height="70" class="img-fluid" title="TensorFlow">
            </div>
            <div class="p-2">
                <img src="{% static 'images/seaborn.png' %}" alt="Seaborn" width="70" height="70" class="img-fluid" title="Seaborn">
            </div>
            <div class="p-2">
                <img src="{% static 'images/mysql.png' %}" alt="MySQL" width="70" height="70" class="img-fluid" title="MySQL">
            </div>
            <div class="p-2">
                <img src="{% static 'images/linux.png' %}" alt="Linux" width="70" height="70" class="img-fluid" title="Linux">
            </div>
        </div>
    </div>
</div>
{% endblock content1 %}
