{% extends "base.html" %}
{% load static %}

{% block content1 %}
<div class="row">
    <div class="jumbtorn jumbtorn-fluid mt-2">
        <h1 class="display4">Python for Data Science</h1>
    </div>

    <div class="jumbtorn jumbtorn-fluid mt-2">
        <h1 class="display4">OSM Hackfest 2022</h1>
    </div>

    <div class="jumbtorn jumbtorn-fluid mt-2">
        <h1 class="display4">Cybersecurity Trainer by Skillogic</h1>
    </div>

    <div class="jumbtorn jumbtorn-fluid mt-2">
        <h1 class="display4">BSc.CSIT Undergrad</h1>
    </div>
</div>
{% endblock content1 %}
