{% extends "base.html" %} {% load static %} {% block content1 %}

<div class="row" my-5>
  <div class="col-4 text-center text-light" my-5 text-light>
    <h1 class="mt-5">Stay connected</h1>

    <div class="circular-image-container" style="display: flex; justify-content: center; align-items: center;">
    <img class="circular-image" src="{% static 'images/profile.jpg' %}" alt="Profile" style="width: 200px; height: 200px; border: 5px;">
    </div>

    <h3 class="mt-5">adhikariunique65@gmail.com</h3>

    <div class="col-12 d-flex justify-content-center align-items-center mt-5">
      <a
        href="https://www.linkedin.com/in/uniqueadhikari/"
        target="_blank"
        class="ms-3"
      >
        <img
          src="{% static 'images/linkedin.png'%}"
          alt="linkedin"
          width="50"
          height="50"
          class="social_links"
        />
      </a>

      <a
        href="https://github.com/coffee-and-debugging"
        target="_blank"
        class="ms-3"
      >
        <img
          src="{% static 'images/github.png'%}"
          alt="Github"
          width="50"
          height="50"
          class="social_links"
        />
      </a>

      <a
        href="https://www.instagram.com/unik.adhikarii/"
        target="_blank"
        class="ms-3"
      >
        <img
          src="{% static 'images/insta.jpg'%}"
          alt="Instagram"
          width="50"
          height="50"
          class="social_links"
        />
      </a>
    </div>
  </div>

  <div class="col-5 offset-1 mt-3 form-container">
    <div class="container">
      <form>
        <div class="form-group m-3">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Ram Sharma"/>
        </div>

        <div class="form-group m-3">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="ramsharma@gmail.com"/>
          </div>

          <div class="form-group m-3">
            <label for="phone">Phone no</label>
            <input
              type="tel"
              class="form-control"
              id="phone"
              placeholder="+977 9876543210"/>
          </div>

          <div class="form-group m-3">
            <label for="message">Message</label>
            <textarea type="tel" class="form-control" id="message" rows="2" ></textarea>
              
          </div>


        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  {% endblock content1 %}
</div>
